{% extends 'main/base.html' %}

{% block title %} Details for {{ blog.title }}  {% endblock %}


{% block content %}

<div class="container">

    <h1>{{ blog.title }}</h1>
    <h6>
        {% if blog.is_pubilshed %} 
            Pubilshed
        {% else %}
            Not Pubilshed
        {% endif %}
    </h6>
    <div class="m-3 d-flex gap-2"><a href="{% url 'blog:update_blog' blog.id %}" class="btn btn-primary">update</a><a href="{% url 'blog:delete_blog' blog.id %}" class="btn btn-danger">delete</a></div>
    <p>Content: {{ blog.content }}</p>
    <p class="card-text">Published: {{ blog.publish_date }}</p>

</div>

{% endblock %}